$o-color-palettes: map-merge(
    $o-color-palettes,
    (
        'custom_catering': (
            'o-color-1': #E53517,
            'o-color-2': #FFFDF4,
            'o-color-3': #F2F2F3,
            'o-color-4': #FFFFFF,
            'o-color-5': #202022,
            'menu': 1,
            'footer': 3,
            'o-cc1-headings': #E53517,
            'o-cc5-btn-primary': #202022,
            'o-cc5-btn-secondary': #FFFFFF,
            'o-cc1-text': #E53517,
            'o-cc3-bg': #FFFDF4,
            'o-cc2-bg': #F2F2F3,
            'o-cc3-text': #E53517,
        ),
    ),
);

$o-website-values-palettes: (
    (
        'color-palettes-name': 'custom_catering',
        'menu-gradient': null,
        'menu-secondary-gradient': null,
        'footer-gradient': null,
        'copyright-gradient': null,
        'breadcrumb-gradient': null,
        'o-cc1-bg-gradient': null,
        'o-cc2-bg-gradient': null,
        'o-cc3-bg-gradient': null,
        'o-cc4-bg-gradient': null,
        'o-cc5-bg-gradient': null,
        'font': 'Inter',
        'headings-font': 'Playfair Display',
        'navbar-font': 'Lekton',
        'buttons-font': 'Lekton',
        'color-palettes-number': null,
        'btn-ripple': null,
        'header-template': 'hamburger',
        'footer-template': 'default',
        'footer-scrolltop': false,
        'menu-shadow-class': '',
        'menu-box-shadow-style': null,
        'google-fonts': ('Climate Crisis', 'DM Mono', 'IBM Plex Mono', 'Lekton', 'Source Serif 4', 'Bodoni Moda', 'Playfair Display'),
        'headings-line-height': 0.85,
        'display-1-line-height': 0.85,
        'btn-padding-y-lg': 0.75rem,
        'btn-padding-x-lg': 4.375rem,
        'btn-font-size-lg': 1.125rem,
        'btn-font-weight': null,
        'btn-font-weight-bold': null,
        'logo-height': 4.6875rem,
        'fixed-logo-height': 4.6875rem,
        'font-weight-normal': null,
        'lead-font-weight': null,
        'font-weight-bolder': null,
        'headings-font-weight': null,
        'headings-font-weight-bold': null,
        'display-font-weight': null,
        'display-font-weight-bold': null,
        'btn-secondary-outline': true,
        'btn-secondary-flat': false,
        'btn-padding-x': 3rem,
        'btn-padding-y': 0.375rem,
        'paragraph-margin-bottom': 16px,
        'link-underline': 'never',
        'input-border-top-width': 0rem,
        'input-border-width': null,
        'input-border-right-width': 0rem,
        'input-border-bottom-width': 0.0625rem,
        'input-border-left-width': 0rem,
        'input-border-radius': 0rem,
        'header-links-style': 'default',
        'hamburger-position': 'left',
        'hamburger-position-mobile': 'right',
        'menu-border-style': solid,
        'sidebar-width': 18.75rem,
    ),
);

$o-selected-color-palettes-names: append($o-selected-color-palettes-names, 'custom_catering');
