<?xml version="1.0" encoding="utf-8"?>
<odoo noupdate="1">
    <!-- Website menus - parent_id via search on root (url=#) -->
    <!-- Custom menu: Rooms -->
    <record id="menu_rooms" model="website.menu" forcecreate="0">
        <field name="name">Rooms</field>
        <field name="url">/shop</field>
        <field name="parent_id" model="website.menu" search="[('url', '=', '#'), ('website_id', '=', ref('hotel.website_industry'))]"/>
        <field name="website_id" ref="hotel.website_industry"/>
        <field name="sequence" eval="20"/>
        <field name="is_visible" eval="True"/>
    </record>
</odoo>
